<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.javareact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name="test.javareact.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="test.javareact.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="test.javareact.TabLayoutActivity"
            android:label="@string/title_activity_tab_layout" >
        </activity>
        <activity
            android:name="test.javareact.BrakesActivity"
            android:label="@string/title_activity_brakes" >
        </activity>
        <activity
            android:name="test.javareact.SuggestionActivity"
            android:label="@string/title_activity_suggestion" >
        </activity>
    </application>

</manifest>
